doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head("Stats")

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="index")
        logo
      ul
        li
          a(href="snippets") Snippets
        li
          a.color-light(href="stats") Stats
        li
          a(href="logout") Log Out

    stats
      holder
        wrapper
          snippet-list(class="table-scroll m-page scene_element scene_element--fadein"  method="post" action="/receive")
            form(class="table-wrap" id="table")
              for snippetcontent, index in snippetcontents
                row(id="select-"+index name="row")
                  snippet( id=snippetcontent.id class="background1")
                    column
                      description #{snippetcontent.description}
                    column
                      from #{snippetcontent.username}
                    column
                      count #{snippetcontent.forwardcount}
          snippet-selected(id='snippet-selected')
            img(id="selected-content")
  
  
  +create-footer
  script(type="text/javascript" src="../scripts/stats.js")
