doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/index")
        logo
      ul
        li
          a(href="login") Login
        li
          a.color-light(href="receive") Receive
        li
          a(href="send") Send
        li
          a(href="stats") Stats
        li
          a(href="logout") Log Out

    receive
      h1(class="m-page scene_element scene_element--fadeinup")=noSnippetMessage 
      form(class="m-page scene_element scene_element--fadein")
        if (snippetcontents != null && snippetcontents.length != 0)
          snippet-list(class="table-scroll")
            form(class="table-wrap")
              for snippetcontent, index in snippetcontents
                row 
                  a(id="select-"+index)
                    snippet(href="index" id=snippetcontent.id)
                      info
                        description #{snippetcontent.description}
                        br
                        from jadams
                      img(src=snippetcontent.content)
          snippet-selected
            info
              description(id="selected-description")
              br
              from(id="selected-author")
            img(id="selected-content")
            a(href="" title="Report")
              report
            control-box
              a(id="trash-it" title="Trash It")
                trash-it
              a(id="forward-it" title="Forward It")
                forward-it

  +create-footer
  
  script(type="text/javascript" src="../scripts/receive.js")
  script(type="text/javascript" src="../scripts/tools.js")
